Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.metadata/**
.recommenders/**
**/bin/**
*.lock
*.lo
*.jar
*.project
*.classpath
*.prefs
*.map
*.zip
*.sha
*.sha
*.MF
*.bat
*.dox